.body {
  position: fixed;
}
.navbar {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.5rem;
}

.container-fluid {
  margin: 0 auto;
  background-image: url("../img/books.png");
  background-size: cover;
  background-position: center;
  display: inline-block;
  height: 654px;
  font-family: "Times New Roman", Times, serif;
}

.contenedor {
  background: rgba(93, 108, 204, 0.6);
  margin-top: 4rem;
  margin-right: 5rem;
  float: right;
  width: 55%;
  height: fit-content;
}

#formulario {
  text-align: center;
  width: fit-content;
  padding: 1rem;
  margin-right: 1rem;
}

.tabla {
  height: 27rem;
  border: 0.5px black;
  overflow-x: hidden;
  overflow-y: scroll;
}
#descripcion {
  height: 5rem;
}

.form-control {
  margin-bottom: 0.5rem;
}

.btn {
  width: 15rem;
  margin-top: 2rem;
}
